
# --- Py venv universal ---
.venv/
venv/
__pycache__/
*.pyc

# --- Python Virtual Environments ---

.venv/
venv/
env/
ENV/

# --- Python Bytecode & Cache ---

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- Environment Variables ---

.env

# --- OS Specific ---

.DS_Store
.directory
*.swp

